@model HotelChainDbManager.Models.SQuery1Input

@{
    ViewData["Title"] = "Запит";
}

<h4>Знайти номери всіх кімнат у готелі з номером * та назвою класу *</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SQuery1Output">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HotelNumber" class="control-label"></label>
                <input asp-for="HotelNumber" class="form-control" />
                <span asp-validation-for="HotelNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Виконати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
